@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 class="text-4xl text-red-600 font-bold">Test Red</h1>



    <div class="grid grid-cols-2 gap-4 p-10">
        <div class="bg-red-200 p-4 rounded shadow">Box 1</div>
        <div class="bg-green-200 p-4 rounded shadow">Box 2</div>
    </div>

    <p class="text-red-600 text-xl">This is red</p>

    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h1>faegaga</h1>
</div>
